In [49]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [50]:
hiring = pd.read_csv(r"E:\Practical Machine Learning\Day 3\hiring.csv")
hiring

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [51]:
x=hiring.iloc[:,:-1]
y=hiring.iloc[:,-1]
x

  experience  test_score(out of 10)  interview_score(out of 10)
0        NaN                    8.0                           9
1        NaN                    8.0                           6
2       five                    6.0                           7
3        two                   10.0                          10
4      seven                    9.0                           6
5      three                    7.0                          10
6        ten                    NaN                           7
7     eleven                    7.0                           8

In [52]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan , strategy='mean')
g=x.iloc[:,1].values
x.iloc[:,1] = imputer.fit_transform(g.reshape(-1,1))

In [53]:
imputer = SimpleImputer(missing_values=np.nan , strategy='constant', fill_value= 'one')
gg= x.iloc[:,0].values
x.iloc[:,0] = imputer.fit_transform(gg.reshape(-1,1))
x

  experience  test_score(out of 10)  interview_score(out of 10)
0        one               8.000000                           9
1        one               8.000000                           6
2       five               6.000000                           7
3        two              10.000000                          10
4      seven               9.000000                           6
5      three               7.000000                          10
6        ten               7.857143                           7
7     eleven               7.000000                           8

In [54]:
from sklearn.preprocessing import  OrdinalEncoder
oe= OrdinalEncoder (categories=[['one','two','three','five','seven','ten','eleven']])
data_ord = x.iloc[:,0:1]
model=oe.fit_transform(data_ord)

In [55]:
x['experience']=model
x

   experience  test_score(out of 10)  interview_score(out of 10)
0         0.0               8.000000                           9
1         0.0               8.000000                           6
2         3.0               6.000000                           7
3         1.0              10.000000                          10
4         4.0               9.000000                           6
5         2.0               7.000000                          10
6         5.0               7.857143                           7
7         6.0               7.000000                           8

In [65]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [66]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [79]:
y_pred = regressor.predict(x_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1) , y_test.to_numpy().reshape(len(y_test),1)),1))

[[74716.44 72000.  ]
 [57866.05 60000.  ]]

In [84]:
y_train_pred=regressor.predict(x_train)
print(np.concatenate((y_train_pred.reshape(len(y_train_pred),1) , y_train.to_numpy().reshape(len(y_train),1)),1))

[[44508.13 45000.  ]
 [80043.58 80000.  ]
 [64690.03 65000.  ]
 [50963.27 50000.  ]
 [61565.74 62000.  ]
 [70229.26 70000.  ]]

In [85]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error, r2_score

print('MSE train: %.3f, test: %.3f' % (mean_squared_error(y_train, y_train_pred),
                mean_squared_error(y_test, y_pred)))
print('R^2 train: %.3f, test: %.3f' % (r2_score(y_train, y_train_pred), r2_score(y_test, y_pred)))

MSE train: 251489.892, test: 5966379.984
R^2 train: 0.998, test: 0.834